<h1>
	Add album note
</h1>
<form class="form-horizontal">
	<div ng-repeat="note in notes">
		<div class="form-group">
			<label class="col-sm-2 control-label">Album</label>
			<div class="col-sm-5">
				<input class="form-control" ng-model="note.artist" placeholder="Artist" ng-change="newAlbum(note)"/>
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="note.title" placeholder="Title" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Note</label>
			<div class="col-sm-8">
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Live" /> Live
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Soundtrack" /> Soundtrack
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Various Artists" /> Various Artists
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Project" /> Project
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="K-Pop" /> K-Pop
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Greatest Hits" /> Greatest Hits
				</label>
				<label class="radio-inline">
					<input type="radio" ng-model="note.note" value="Melon" /> Melon
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			<button class="btn btn-default" ng-click="submit()">Submit</button>
			<button class="btn btn-default" ng-click="newNote()">Add Note</button>
		</div>
	</div>
</form>
