<h1>
	<small>Add album of</small>
	{{artist.name}}
</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">Album Title</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="album.title" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Release Date</label>
		<div class="col-sm-8">
			<input type="date" class="form-control" ng-model="album.releaseDate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Type</label>
		<div class="col-sm-8">
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Single" /> Single
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="EP" /> Extended Play
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Studio" /> Studio Album
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Compilation" /> Compilation
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Partial" /> Partial Album
			</label>
		</div>
	</div>
	<div ng-repeat="song in album.newSongs">
		<div class="form-group">
			<label class="col-sm-3 control-label">Track</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" ng-model="song.disk" />
			</div>
			<div class="col-sm-1">
				<input type="number" class="form-control" ng-model="song.track" />
			</div>
			<div class="col-sm-5">
				<input type="number" class="form-control" ng-model="song.id" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Album Cover</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="album.cover" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-8">
			<button class="btn btn-default" ng-click="add()">Add Album</button>
			<button class="btn btn-default" ng-click="addSong()">Add Song</button>
		</div>
	</div>
</form>
<table class="table table-hover" ng-repeat="album in artist.albums | orderBy : 'release' : true" ng-hide="!showFeat && album.isFeat">
	<tr	ng-repeat="song in album.songs">
		<td>
			{{song.id}}
		</td>
		<td>
			{{album.title | normalizeString}}
		</td>
		<td>
			{{song.title | normalizeString}}
		</td>
	</tr>
</table>
