<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-4" ng-repeat-start="album in albums">
		<a href="#/album/{{album.id}}">
			<album-image album-id="album.id" c="'img-responsive center-block artist-album-image'"></album-image>
		</a>
		<!--
		<div class="ellipsis">
			{{album.title | normalizeString}}
		</div>
		<div class="ellipsis">
			<small>by</small><artist-array array="album.artists"></artist-array>
		</div>
		<div>
			{{album.format}} '{{album.release | date: 'yy'}}
		</div>
		-->
	</div>
	<div class="clearfix hidden-xs" ng-if="$index%6==5"></div>
	<div class="clearfix visible-xs-block" ng-if="$index%3==2"></div>
	<div ng-repeat-end=""></div>
</div>
