<h1>
	{{artist.name | normalizeString}}
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
			data-toggle="dropdown" aria-expanded="false">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
			<li role="presentation"><a href="#/edit/artist/{{artist.id}}">Edit artist</a></li>
			<li role="presentation" ng-show="artist.hasFeat && showFeat"><a ng-click="hideFeatures()">Hide Features</a></li>
			<li role="presentation" ng-show="artist.hasFeat && !showFeat"><a ng-click="showFeatures()">Show Features</a></li>
			<li role="presentation"><a href="#/add/artist-album/{{artist.id}}">Add album</a></li>
		</ul>
	</div>
	<br class="visible-xs-block">
	<small>
		{{artist.gender}}
		{{artist.type | artistType}}
		<span ng-show="artist.origin">from </span>{{artist.origin}}
		{{artist.albums.length | numAlbums}}
	</small>
</h1>
<h2 ng-show="artist.groups.length + artist.members.length">
	<span ng-show="artist.groups.length">
		<small>Part of</small>
		<artist-array array="artist.groups"></artist-array>
	</span>
	<span ng-show="artist.members.length">
		<small>Includes</small>
		<artist-array array="artist.members"></artist-array>
	</span>
</h2>
<div class="row" ng-repeat="year in years | orderBy : '-year'" ng-hide="selectedAlbum">
	<span class="hidden-xs">
		<div class="col-sm-2">
			<div style="display: flex; align-content: center; height: 185px;">
				<h2 class="text-center" style="margin: auto; padding-bottom: 10px;">
					{{year.year}}
				</h2>
			</div>
		</div>
		<div class="col-sm-2 text-center" ng-repeat-start="album in year.albums | orderBy : '-release'" style="height: 185px">
			<image-small album-id="album.id" s="160" ng-click="selectAlbum(album)"></image-small>
			{{album.isFeat ? 'Feature' : album.format}}
		</div>
		<div class="col-sm-2" ng-if="$index % 5 === 4"></div>
		<div ng-repeat-end=""></div>
	</span>
	<span class="visible-xs">
		<div class="col-xs-3">
			<div style="display: flex; align-content: center; height: 105px;">
				<h2 class="text-center" style="margin: auto; padding-bottom: 10px;">
					{{year.year}}
				</h2>
			</div>
		</div>
		<div class="col-xs-3 text-center" ng-repeat-start="album in year.albums | orderBy : '-release'" style="height: 105px">
			<image-small album-id="album.id" s="80" ng-click="selectAlbum(album)"></image-small>
			{{album.isFeat ? 'Feature' : album.format}}
		</div>
		<div class="col-xs-3" ng-if="$index % 3 === 2"></div>
		<div ng-repeat-end=""></div>
	</span>
</div>
<div class="row" ng-show="selectedAlbum">
	<div class="col-xs-12 col-sm-4">
		<image-large album-id="selectedAlbum.id" c="'img-responsive center-block artist-album-image'" ng-click="deselectAlbum()"></image-large>
	</div>
	<div class="col-xs-12 col-sm-8">
		<h3>
			<span ng-click="addAlbum(selectedAlbum)">{{selectedAlbum.title | normalizeString}}</span>
			<small>{{selectedAlbum.format}}</small>
			<span class="pull-right album-desc-right">
				<rank-badge rank="selectedAlbum.rank.billboard" prefix="'US'"></rank-badge>
				<rank-badge rank="selectedAlbum.rank.oricon" prefix="'オ'"></rank-badge>
				<rank-badge rank="selectedAlbum.rank.deutsche" prefix="'D'"></rank-badge>
				<rank-badge rank="selectedAlbum.rank.uk" prefix="'UK'"></rank-badge>
				<rank-badge rank="selectedAlbum.rank.francais" prefix="'F'"></rank-badge>
				<rank-badge rank="selectedAlbum.rank.gaon" prefix="'G'"></rank-badge>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
						data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
						<li role="presentation"><a ng-click="addNextAlbum(selectedAlbum)">Play next</a></li>
						<li role="presentation"><a href="#/edit/album/{{selectedAlbum.id}}">Edit album</a></li>
						<li role="presentation"><a href="#/album/{{selectedAlbum.id}}">Details</a></li>
					</ul>
				</div>
			</span>
		</h3>
		<h4>
			<small>by</small>
			<artist-array array="selectedAlbum.albumArtists"></artist-array>
			<small class="pull-right">{{selectedAlbum.release | date}}</small>
		</h4>
		<table class="table table-hover">
			<tr	ng-repeat="song in selectedAlbum.songs">
				<td>
					<div class="song-desc">
						<span class="song-desc-title" ng-click="addSong(song, selectedAlbum)">
							<span class="song-track"><span ng-show="selectedAlbum.maxDisk > 1">{{song.disk}}-</span>{{song.track}}</span>
							{{song.title | normalizeString}}
						</span>
						<span class="pull-right song-desc-right">
							<rank-badge rank="song.rank.billboard" prefix="'US'"></rank-badge>
							<rank-badge rank="song.rank.oricon" prefix="'オ'"></rank-badge>
							<rank-badge rank="song.rank.deutsche" prefix="'D'"></rank-badge>
							<rank-badge rank="song.rank.uk" prefix="'UK'"></rank-badge>
							<rank-badge rank="song.rank.francais" prefix="'F'"></rank-badge>
							<rank-badge rank="song.rank.melon" prefix="'M'"></rank-badge>
							<rank-badge rank="song.rank.gaon" prefix="'G'"></rank-badge>
							<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
									data-toggle="dropdown" aria-expanded="false">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
									<li role="presentation"><a ng-click="addNext(song, selectedAlbum)">Play next</a></li>
									<li role="presentation"><a href="#/edit/song/{{song.id}}">Edit song</a></li>
									<li role="presentation"><a href="#/song/{{song.id}}">Details</a></li>
									<li role="presentation"><a ng-click="download(song)">Download</a></li>
								</ul>
							</div>
						</span>
					</div>
					<div ng-show="{{song.artists.length}}">
						<span class="song-track"></span>
						<small>by</small>
						<artist-array array="song.artists"></artist-array>
					</div>
					<div ng-show="{{song.features.length}}">
						<span class="song-track"></span>
						<small>Feat.</small>
						<artist-array array="song.features"></artist-array>
					</div>
				</td>
			</tr>
		</table>
	</div>

</div>
<div style="height: 30px">
</div>
