<div>
	<div ng-repeat="artist in artists">
		<div>
			<h1>
				{{artist.name}}
				<small>
					{{artist.gender}}
					{{artist.type | artistType}}
					<span ng-show="artist.origin">from </span>{{artist.origin}}
					{{artist.albums.length | numAlbums}}
				</small>
				<a class="btn btn-edit pull-right" href="#/edit/artist/{{artist.id}}">edit</a>
			</h1>
		</div>
		<table class="table" ng-repeat="album in artist.albums | orderBy : 'release' : true">
			<tr>
				<td class="td-img">
					<img src="/{{album.id}}.jpg" class="img-rounded img-album">
				</td>
				<td>
					<h3>
						<span ng-click="addAlbum(album)">{{album.title}}</span>
						<small>{{album.type}}</small>
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
								data-toggle="dropdown" aria-expanded="false">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
								<li role="presentation"><a ng-click="addNextAlbum(album)">Play next</a></li>
								<li role="presentation"><a href="#/edit/album/{{album.id}}">Edit album</a></li>
							</ul>
						</div>
					</h3>
					<h4>
						<small>by</small>
						<artist-array array="album.albumArtists"></artist-array>
						<small class="pull-right">{{album.release | date}}</small>
					</h4>
					<table class="table table-hover">
						<tr	ng-repeat="song in album.songs">
							<td>
								<div class="song-desc">
									<span class="song-desc-title" ng-click="addSong(song, album.id)">
										<span class="song-desc-track">{{song.track}}</span>
										{{song.title}}
									</span>
									<span class="pull-right song-desc-right">
										<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
										<span class="song-desc-time">{{song.time | songDuration}}</span>
										<div class="btn-group">
											<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
												data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
												<li role="presentation"><a ng-click="addNext(song, album.id)">Play next</a></li>
												<li role="presentation"><a href="#/edit/song/{{song.id}}">Edit song</a></li>
											</ul>
										</div>
									</span>
								</div>
								<div ng-show="{{song.features.length}}">
									<span class="song-desc-track"></span>
									<small>Feat.</small>
									<artist-array array="song.features"></artist-array>
								</div>
								<div ng-show="{{song.artists.length}}">
									<span class="song-desc-track"></span>
									<small>by</small>
									<artist-array array="song.artists"></artist-array>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
