<div class="container" ng-controller="MusicCtrl">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<td>#</td><td>name</td>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="artist in artists">
					<td>{{artist.id}}</td>
					<td>{{artist.name | normalizeString}}</td>
					<td>{{artist.Albums.length}} albums</td>
					<td>{{artist.Songs.length}} songs</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
