<h1>
	<span ng-click="addChart()">Gaon Chart</span>
</h1>
<table class="table table-hover">
	<tr ng-repeat="row in rows">
		<td>
			{{row.index}}
		</td>
		<td ng-show="row.songFound">
			<artist-array array="row.songArtists"></artist-array>
		</td>
		<td ng-show="row.artistFound && !row.songFound">
			<artist-link artist="row.artist"></artist-link>
		</td>
		<td ng-show="!row.artistFound">
			{{row.artist | normalizeString}}
		</td>
		<td ng-show="row.songFound">
			<b>{{row.song.title | normalizeString}}</b>
			<span class="badge pull-right" ng-show="{{row.song.plays}}">{{row.song.plays}}</span>
		</td>
		<td ng-show="!row.songFound">
			{{row.song | normalizeString}}
		</td>
	</tr>
</table>
