<h1>
		<span ng-click="addChart()">최신 차트</span>
</h1>
<table class="table table-hover">
	<tr>
		<th></th>
		<th class="hidden-xs">US</th>
		<th class="hidden-xs">オ</th>
		<th class="hidden-xs">D</th>
		<th class="hidden-xs">UK</th>
		<th class="hidden-xs">F</th>
		<th class="hidden-xs">멜론</th>
		<th class="hidden-xs">가온</th>
		<th></th>
		<th>Artist</th>
		<th>Song</th>
	</tr>
	<tr ng-repeat="song in songs" ng-class="{active: song.active}">
		<td class="hidden-xs">
			<span class="hidden-xs">{{$index + 1}}</span>
		</td>
		<td class="visible-xs-block" style="{{getRankCellStyle(song.curRank[0])}}">
			{{song.curRank[0]}}
		</td>
		<td ng-repeat="chart in charts" class="hidden-xs" style="{{getRankCellStyle(song[chart])}}">
			{{song[chart]}}
		</td>
		<td class="td-img-list">
			<image-small album-id="song.albumId" s="30"></image-small>
		</td>
		<td>
			<div class="recent-artists">
				<span class="recent-artist-list">
					<artist-array array="song.artists"></artist-array>
				</span>
			</div>
		</td>
		<td>
			<span ng-click="addSongs($index)">{{song.title | normalizeString}}</span>
			<span class="pull-right song-desc-right">
				<span class="hidden-xs">
					<rank-badge rank="song.rank.billboard" prefix="'US'"></rank-badge>
					<rank-badge rank="song.rank.oricon" prefix="'オ'"></rank-badge>
					<rank-badge rank="song.rank.deutsche" prefix="'D'"></rank-badge>
					<rank-badge rank="song.rank.uk" prefix="'UK'"></rank-badge>
					<rank-badge rank="song.rank.francais" prefix="'F'"></rank-badge>
					<rank-badge rank="song.rank.melon" prefix="'M'"></rank-badge>
					<rank-badge rank="song.rank.gaon" prefix="'G'"></rank-badge>
					<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
				</span>
				<span class="visible-xs-inline">
					<rank-badge song="song"></rank-badge>
				</span>
			</span>
		</td>
	</tr>
</table>
