<h1>
	<small>Editing</small>
	{{song.title}}
</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">Song Title</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="song.title" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Normalized Title</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="song.titleNorm" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Play Count</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="song.plays" />
		</div>
	</div>
	<div ng-repeat="artist in song.editArtists | orderBy : ['feat', 'order']">
		<div class="form-group">
			<label class="col-sm-3 control-label">
				<span ng-hide="artist.feat">Main</span>
				<span ng-show="artist.feat">Featuring</span>
				Artist
			</label>
			<div class="col-sm-1">
				<input class="form-control" ng-model="artist.order" />
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="artist.name" ng-show="artist.created" />
				<input class="form-control" ng-model="artist.name" ng-hide="artist.created" disabled />
			</div>
			<div class="col-sm-1">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="artist.feat" /> Feat.
				</label>
			</div>
			<div class="col-sm-1">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="artist.deleted" /> Delete
				</label>
			</div>
		</div>
	</div>
	<div ng-repeat="alias in song.editAliases">
		<div class="form-group">
			<label class="col-sm-3 control-label">Alias</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="alias.chart">
					<option>gaon</option>
					<option>melon</option>
					<option>billboard</option>
					<option>oricon</option>
					<option>deutsche</option>
					<option>UK</option>
					<option>francais</option>
				</select>
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="alias.alias" />
			</div>
			<div class="col-sm-1">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="alias.deleted" /> Delete
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-8">
			<button class="btn btn-default" ng-click="edit()">Edit</button>
			<button class="btn btn-default" ng-click="addArtist()">Add Artist</button>
			<button class="btn btn-default" ng-click="addFeature()">Add Feature</button>
			<button class="btn btn-default" ng-click="addAlias()">Add Alias</button>
		</div>
	</div>
</form>
