<h1>
	<small>Editing</small>
	{{album.title}}
</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-3 control-label">Album Title</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="album.title" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Normalized Title</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="album.titleNorm" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Release Date</label>
		<div class="col-sm-8">
			<input type="date" class="form-control" ng-model="album.releaseDate" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Type</label>
		<div class="col-sm-8">
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Single" /> Single
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="EP" /> Extended Play
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Studio" /> Studio Album
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Compilation" /> Compilation
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="album.format" value="Partial" /> Partial Album
			</label>
		</div>
	</div>
	<div ng-repeat="artist in album.editArtists">
		<div class="form-group">
			<label class="col-sm-3 control-label">Artist</label>
			<div class="col-sm-1">
				<input class="form-control" ng-model="artist.order" />
			</div>
			<div class="col-sm-6">
				<input class="form-control" ng-model="artist.name" ng-show="artist.created" />
				<input class="form-control" ng-model="artist.name" ng-hide="artist.created" disabled />
			</div>
			<div class="col-sm-1">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="artist.deleted" /> Delete
				</label>
			</div>
		</div>
	</div>
	<div ng-repeat="song in album.editSongs | orderBy : ['disk', 'track']">
		<div class="form-group">
			<label class="col-sm-3 control-label">Track</label>
			<div class="col-sm-1">
				<input class="form-control" ng-model="song.disk" disabled />
			</div>
			<div class="col-sm-1">
				<input class="form-control" ng-model="song.track" disabled />
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="song.title" />
			</div>
			<div class="col-sm-1">
				<input class="form-control" ng-model="song.plays" disabled />
			</div>
		</div>
	</div>
	<div ng-repeat="song in album.newSongs | orderBy : ['disk', 'track']">
		<div class="form-group">
			<label class="col-sm-3 control-label">Track</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" ng-model="song.disk" />
			</div>
			<div class="col-sm-1">
				<input type="number" class="form-control" ng-model="song.track" />
			</div>
			<div class="col-sm-5">
				<input type="number" class="form-control" ng-model="song.id" />
			</div>
		</div>
	</div>
	<div ng-repeat="alias in album.editAliases">
		<div class="form-group">
			<label class="col-sm-3 control-label">Alias</label>
			<div class="col-sm-2">
				<select class="form-control" ng-model="alias.chart">
					<option>gaon</option>
					<option>billboard</option>
					<option>oricon</option>
					<option>deutsche</option>
					<option>UK</option>
					<option>francais</option>
				</select>
			</div>
			<div class="col-sm-5">
				<input class="form-control" ng-model="alias.alias" />
			</div>
			<div class="col-sm-1">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="alias.deleted" /> Delete
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Album Cover</label>
		<div class="col-sm-8">
			<input class="form-control" ng-model="album.cover" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-8">
			<button class="btn btn-default" ng-click="edit()">Edit</button>
			<button class="btn btn-default" ng-click="addArtist()">Add Artist</button>
			<button class="btn btn-default" ng-click="addSong()">Add Song</button>
			<button class="btn btn-default" ng-click="addAlias()">Add Alias</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>
</form>
