<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-2 initial">
		<a type="button" class="btn btn-default btn-lg btn-block initial" href="#/stats/plays/song">
			<h1 class="shuffle">
				<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
			</h1>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2 initial">
		<a type="button" class="btn btn-default btn-lg btn-block initial" href="#/initial/Favorites">
			<h1 class="shuffle">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
			</h1>
		</a>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2 initial" ng-repeat="initial in initials">
		<a type="button" class="btn btn-default btn-lg btn-block initial" href="#/initial/{{initial.link}}">
			<h1 class="initial">{{initial.name}}</h1>
		</a>
	</div>
</div>
<br><br>
<h4 class="text-center" ng-show="summaryLoaded">
	{{summary.Artists}} Artists,
	{{summary.Albums}} Albums,
	{{summary.Songs}} Songs
</h4>
