<h1>
	<span ng-click="refresh()">Missing {{type}}</span>
	<small>
		<input type="search" ng-model="q" />
	</small>
</h1>
<table class="table table-hover">
	<tr>
		<th>Index</th>
		<th ng-show="rank > 1">Rank</th>
		<th>Week</th>
		<th>Run</th>
		<th>Chart</th>
		<th>Name</th>
		<th>Title</th>
	</tr>
	<tr ng-repeat="song in data | filter : q">
		<td>
			{{$index + 1}}
		</td>
		<td ng-show="rank > 1">
			{{song.rank}}
		</td>
		<td>
			{{song.week | date: 'yyyy/MM/dd'}}
		</td>
		<td>
			{{song.count}}
		</td>
		<td>
			{{song.chart | capitalize}}
		</td>
		<td>
			{{song.name | normalizeString}}
		</td>
		<td>
			{{song.title | normalizeString}}
		</td>
	</tr>
</table>
