<div>
	<h1 ng-click="initAudio()">Chart Watch</h1>
	<p>Free at last from iTunes</p>
	<h2><a href="#/">Artists</a></h2>
	<h2>
		<a href="#/chart/current">Charts</a>
		<a href="#/chart/ones">1's</a>
		<a href="#/chart/gaon">가온</a>
		<a href="#/chart/melon">멜론</a>
		<a href="#/chart/billboard">US</a>
		<a href="#/chart/uk">UK</a>
		<a href="#/chart/oricon">オ</a>
		<a href="#/chart/japan">JP</a>
	</h2>
	<h2>Statistics</h2>
	<h2><a href="#/recent">Recently Played</a></h2>
	<form action="/upload" enctype="multipart/form-data" method="post">
		<input type="file" name="file" multiple="multiple">
		<input type="submit" value="Upload">
	</form>
</div>
