<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Chart Watch</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Charts <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/chart/current">Current Songs</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Single Charts</li>
					<li><a href="#/chart/deutsche">토: Deutsche</a></li>
					<li><a href="#/chart/uk">토: Official UK</a></li>
					<li><a href="#/chart/melon">월: 멜론</a></li>
					<li><a href="#/chart/francais">화: Francais</a></li>
					<li><a href="#/chart/oricon">화: オリコン</a></li>
					<li><a href="#/chart/billboard">수: Billboards</a></li>
					<li><a href="#/chart/gaon">목: 가온</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Album Charts</li>
					<li><a href="#/chart/album/deutsche">토: Deutsche</a></li>
					<li><a href="#/chart/album/uk">토: Official UK</a></li>
					<li><a href="#/chart/album/francais">화: Francais</a></li>
					<li><a href="#/chart/album/oricon">화: オリコン</a></li>
					<li><a href="#/chart/album/billboard">수: Billboards</a></li>
					<li><a href="#/chart/album/gaon">목: 가온</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/chart/ones">Number 1 Songs</a></li>
					<li><a href="#/chart/missing/1">Missing No 1 Songs</a></li>
					<li><a href="#/chart/missing">Missing Songs</a></li>
					<li><a href="#/chart/missing/album/1">Missing No 1 Albums</a></li>
					<li><a href="#/chart/missing/album/10">Missing No 10 Albums</a></li>
					<li><a href="#/chart/batch">Batch</a></li>
				</ul>
				</li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#/album/all">All Albums</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/album/format/Single">Singles</a></li>
					<li><a href="#/album/format/EP">EPs</a></li>
					<li><a href="#/album/format/Studio">Studio Albums</a></li>
					<li><a href="#/album/format/Greatest">Greatest Hits</a></li>
					<li><a href="#/album/format/Compilation">Compilations</a></li>
					<li><a href="#/album/format/null">Null</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/add-album-chart-note">Add album chart note</a></li>
				</ul>
				</li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meta <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="dropdown-header">Recent</li>
					<li><a href="#/recent">Played</a></li>
					<li><a href="#/newSongs">Added</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Statistics</li>
					<li><a href="#/stats/plays/song">Plays by song chart</a></li>
					<li><a href="#/stats/plays/album">Plays by album chart</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#/ios">iOS</a></li>
					<li><a href="#/season/single">Singles of the day</a></li>
				</ul>
				</li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
					<form action="/upload" enctype="multipart/form-data" method="post">
						<input type="file" name="file" multiple="multiple">
						<input type="submit" value="Upload">
					</form>
					</li>
					<li role="separator" class="divider"></li>
					<li><a ng-click="initAudio()">Init audio for iOS</a></li>
					<li><a href="#/blank">Blank</a></li>
				</ul>
				</li>
				<li><a style="cursor: pointer" ng-click="shuffle()">Shuffle</a></li>
			</ul>
		</div>
	</div>
</nav>
