<div class="jumbotron" ng-show="loaded">
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<div ng-repeat="song in nowPlaying">
				<div class="td-img" ng-click="toggle()">
					<album-image album-id="song.albumId" c="'img-album center-block'"></album-image>
				</div>
				<h4 style="text-align: center">
					{{song.title | normalizeString}}
					<span class="now-playing-badge">
						<rank-badge song="song"></rank-badge>
					</span>
				</h4>
				<h5 style="text-align: center">
					<artist-array array="song.artists"></artist-array>
				</h5>
			</div>
			<div class="text-align: center">
				<div class="btn-group" role="group">
					<button ng-click="rewind()" class="btn btn-default">
						<span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
					</button>
					<button ng-click="next()" class="btn btn-default">
						<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
					</button>
				</div>
				<div class="progress progress-music" id="timeline">
					<div class="progress-bar progress-bar-music" id="timeline-bar"
						role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
					</div>
				</div>
				{{ time | songDuration }} / {{ duration | songDuration }}
			</div>
		</div>
		<div class="col-md-6 col-lg-6" ng-show="songs.length">
			<h2 class="h2-upnext">Up Next
				<span ng-show="songs.length">
					<small>
						<span ng-show="randomSource.length">{{songs.length}} / {{randomSource.length}}</span>
						<span ng-hide="randomSource.length">{{songs.length | numSongs}}</span>
					</small>
					<span class="label label-default label-clear"
						ng-hide="songs.length <= 10 || expanded" ng-click="expand()">Expand</span>
					<span class="label label-default label-clear" 
						ng-show="songs.length > 10 && expanded" ng-click="shrink()">Shrink</span>
					<span class="label label-default label-clear" ng-click="clearAll()">Clear</span>
				</span>
			</h2>
			<table class="table">
				<tr ng-repeat="song in songs | limitTo: upNextLimit">
					<td class="td-img-list">
						<album-image album-id="song.albumId" s="30" c="'img-album-up-list'"></album-image>
					</td>
					<td>
						<div class="up-next-artists">
							<span class="up-next-artist-list">
								<artist-array array="song.artists"></artist-array>
							</span>
						</div>
					</td>
					<td>
						{{song.title | normalizeString}}
						<span class="pull-right song-desc-right" ng-click="removeSong(song)">
							<rank-badge song="song"></rank-badge>
						</span>
						<span class="glyphicon glyphicon-remove glyphicon-up-next pull-right"
							ng-click="removeSong(song)" ng-hide="song.plays"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

