<h1>
	Recently {{title}}
</h1>
<table class="table table-hover">
	<tr ng-repeat="song in rows">
		<td>
			{{song.lastPlayed | date: 'short'}}
		</td>
		<td class="td-img-list">
			<img src="/{{song.albumId}}.30px.jpg" class="img-rounded img-album-up-list">
		</td>
		<td>
			<div class="recent-artists">
				<span class="recent-artist-list">
					<artist-array array="song.songArtists"></artist-array>
				</span>
			</div>
		</td>
		<td>
			{{song.title | normalizeString}}
			<span class="pull-right song-desc-right">
				<chart-badge rank="song.rank.gaon" prefix="'G'"></chart-badge>
				<chart-badge rank="song.rank.melon" prefix="'M'"></chart-badge>
				<chart-badge rank="song.rank.billboard" prefix="'US'"></chart-badge>
				<chart-badge rank="song.rank.uk" prefix="'UK'"></chart-badge>
				<chart-badge rank="song.rank.oricon" prefix="'オ'"></chart-badge>
				<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
			</span>
		</td>
	</tr>
</table>
