<h1>
		{{chart | capitalize}} Single Chart
</h1>
<h2>
	<form class="form-inline">
		<small>
			<div class="form-group">
				<label>Week of</label>
				<input type="date" class="form-control" ng-model="date"></input>
			</div>
			<button class="btn btn-default" ng-click="go()">Go</button>
			<button class="btn btn-default" ng-click="prev()">Prev</button>
			<button class="btn btn-default" ng-click="next()">Next</button>
			<button class="btn btn-default" ng-click="fetch()">Fetch</button>
			<button class="btn btn-default" ng-click="match()">Match</button>
			<button class="btn btn-default" ng-click="clear()">Clear</button>
			<button class="btn btn-default pull-right" ng-click="history()">History</button>
		</small>
	</form>
</h2>
<table class="table table-condensed">
	<tr ng-repeat="row in rows">
		<td ng-show="row.order === 0" rowspan="{{row.rowspan}}">
			{{row.rank}}
		</td>
		<td class="td-img-list" ng-show="row.order === 0" rowspan="{{row.rowspan}}">
			<a href="#/album/{{row.albumId}}">
				<image-small album-id="row.albumId" s="40"></image-small>
			</a>
		</td>
		<td ng-show="row.order === 0" rowspan="{{row.rowspan}}">
			<div>
				{{row.artist}}
			</div>
			<div>
				<artist-array array="row.artists"></artist-array>
			</div>
		</td>
		<td>
			{{row.title}}
		</td>
	</tr>
</table>
