<div ng-show="loaded">
	<div>
		<h1>
			{{song.title | normalizeString}}
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default btn-song-dropdown dropdown-toggle"
					data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right dropdown-song" role="menu">
					<li role="presentation"><a href="#/edit/song/{{song.id}}">Edit song</a></li>
				</ul>
			</div>
		</h1>
		<h2 ng-show="song.artists.length">
			<span ng-show="song.artists.length">
				<small>by</small>
				<artist-array array="song.artists"></artist-array>
			</span>
		</h2>
	</div>
	<!--div>
		<h2>
			Album
			<small>
				{{song.albums.length}} Album<span ng-show="song.albums.length > 1">s</span>
			</small>
		</h2>
	</div-->
	<div ng-show="song.charts.weeks.length > 0">
		<h2>
			Chart Run
			<small>
				{{song.charts.weeks.length}} week<span ng-show="song.charts.weeks.length > 1">s</span>
			</small>
		</h2>
		<table class="table table-hover">
			<tr>
				<th>Week</th>
				<th ng-repeat="header in song.charts.headers">
					{{header}}
				</th>
			</th>
			<tr ng-repeat="week in song.charts.weeks">
				<td>{{week.week | date: 'yyyy-MM-dd'}}</td>
				<td ng-repeat="rank in week.ranks track by $index">
					<span ng-show="rank > 0">
						<a href="#/chart/single/{{song.charts.headers[$index]}}/{{week.week | date: 'yyyy-MM-dd'}}">{{rank}}</a>
					</span>
				</td>
			</tr>
	</div>
</div>
