<table class="table table-hover">
	<tr ng-repeat="song in songs">
		<td>
			<span class="visible-xs-inline">{{song.lastPlayed | date: 'HH:mm'}}</span>
			<span class="hidden-xs">{{song.lastPlayed | date: 'MM/dd hh:mma'}}</span>
		</td>
		<td class="td-img-list">
			<image-small album-id="song.albumId" s="30"></image-small>
		</td>
		<td>
			<div class="recent-artists">
				<span class="recent-artist-list">
					<artist-array array="song.artists"></artist-array>
				</span>
			</div>
		</td>
		<td ng-click="addSongsFrom($index)">
			{{song.title | normalizeString}}
			<span class="pull-right song-desc-right">
				<span class="hidden-xs">
					<rank-badge rank="song.rank.billboard" prefix="'US'"></rank-badge>
					<rank-badge rank="song.rank.oricon" prefix="'オ'"></rank-badge>
					<rank-badge rank="song.rank.deutsche" prefix="'D'"></rank-badge>
					<rank-badge rank="song.rank.uk" prefix="'UK'"></rank-badge>
					<rank-badge rank="song.rank.francais" prefix="'F'"></rank-badge>
					<rank-badge rank="song.rank.melon" prefix="'M'"></rank-badge>
					<rank-badge rank="song.rank.gaon" prefix="'G'"></rank-badge>
					<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
				</span>
				<span class="visible-xs-inline">
					<rank-badge detailed-song="song"></rank-badge>
				</span>
			</span>
		</td>
	</tr>
</table>
