<div class="btn-group btn-group-justified">
	<div class="btn btn-default" ng-repeat="viewType in viewTypes" ng-class="{active: viewType.active}"
		ng-click="toggleType(viewType)">
		{{viewType.name}}
	</div>
</div>
<br>
<div ng-show="viewTypes[0].active">
	<div id="d3-bar-plays">
		<d3-bar-plays data='data' on-click="showSongs(play)"></d3-bar-plays>
	</div>
	<div class="btn-group btn-group-justified">
		<div class="btn btn-default" ng-repeat="rank in ranks" ng-class="{active: rank.active}" ng-click="toggleRank($index)">
			{{rank.name}}
		</div>
		<div class="btn btn-default" ng-show="allVisible" ng-click="setAllRanks(false)">clear</div>
		<div class="btn btn-default" ng-hide="allVisible" ng-click="setAllRanks(true)">see all</div>
	</div>
	<div class="row" ng-show="tiers" ng-hide="selectedPlayCount">
		<div style="height: 15px;"></div>
		<table class="table table-bordered table-condensed text-center">
			<tr>
				<td ng-repeat="tier in tiers">
					<span class="hidden-xs">Tier {{$index + 1}}: {{tier.count}} (avg. {{tier.sum / tier.count | number:3}})</span>
					<span class="visible-xs-block">T.{{$index + 1}}: {{tier.count}}<br>(avg. {{tier.sum / tier.count | number: 3}})</span>
				</td>
			</tr>
			<tr class="hidden-xs">
				<td colspan=2>
					T.1+2: {{tiers[0].count + tiers[1].count}} (avg. {{ (tiers[0].sum + tiers[1].sum) / (tiers[0].count + tiers[1].count) | number:3}})
				</td>
				<td colspan=2>
					T.3+4: {{tiers[2].count + tiers[3].count}} (avg. {{ (tiers[2].sum + tiers[3].sum) / (tiers[2].count + tiers[3].count) | number:3}})
				</td>
			</tr>
			<tr class="hidden-xs">
				<td colspan=4>
					Total {{total.count}} (avg. {{total.sum / total.count | number:3}})
				</td>
			</tr>
		</table>
		<song-rows songs="recentSongs"></song-rows>
	</div>
</div>
<div ng-show="viewTypes[1].active">
	<table class="table table-bordered table-hover" ng-show="plays.length">
		<tr ng-repeat="play in plays track by $index" class="text-right">
			<td>
				<b>{{play.play}}</b>
			</td>
			<td>
				<b>{{play.cumul[10]}}</b>
			</td>
			<td ng-repeat="rank in play.rank track by $index">
				<span ng-show="rank">
					{{rank}}
				</span>
			</td>
		</tr>
	</table>
</div>
<div ng-show="viewTypes[2].active">
	<table class="table table-bordered table-hover" ng-show="plays.length">
		<tr>
			<th class="text-right">Plays</th>
			<th class="text-right">Total</th>
			<th class="text-right">Top 5</th>
			<th class="text-right">Top 10</th>
			<th class="text-right"></th>
		</tr>
		<tr ng-repeat="play in plays track by $index" class="text-right">
			<td>
				<b>{{play.play}}</b>
			</td>
			<td>
				<b>{{play.cumul[10]}}</b>
			</td>
			<td>
				{{play.cumul[4]}}
			</td>
			<td>
				{{play.cumul[9]-play.cumul[4]}}
			</td>
			<td>
				{{play.rank[10]}}
			</td>
		</tr>
	</table>
</div>
<h1 ng-show="selectedPlayCount">
	{{songs.length | numSongsWithPlay}} with {{selectedPlayCount}} plays
</h1>
<table class="table table-hover" ng-show="songs.length">
	<tr ng-repeat="song in songs">
		<td>
			{{$index + 1}}
		</td>
		<td>
			{{song.lastPlayed | date: 'yy/MM/dd' }}
		</td>
		<td class="td-img-list">
			<image-small album-id="song.albumId" s="30"></image-small>
		</td>
		<td>
			<div class="recent-artists">
				<span class="recent-artist-list">
					<artist-array array="song.artists"></artist-array>
				</span>
			</div>
		</td>
		<td>
			{{song.title | normalizeString}}
			<span class="pull-right song-desc-right">
				<rank-badge rank="song.rank.billboard" prefix="'US'"></rank-badge>
				<rank-badge rank="song.rank.oricon" prefix="'オ'"></rank-badge>
				<rank-badge rank="song.rank.deutsche" prefix="'D'"></rank-badge>
				<rank-badge rank="song.rank.uk" prefix="'UK'"></rank-badge>
				<rank-badge rank="song.rank.francais" prefix="'F'"></rank-badge>
				<rank-badge rank="song.rank.melon" prefix="'M'"></rank-badge>
				<rank-badge rank="song.rank.gaon" prefix="'G'"></rank-badge>
				<span class="badge badge-plays" ng-show="{{song.plays}}">{{song.plays}}</span>
			</span>
		</td>
	</tr>
</table>
