<div>
	<h2>Up Next
		<span ng-show="songs.length">
			<small>
				<span ng-show="randomSource.length">{{songs.length}} / {{randomSource.length}}</span>
				<span ng-hide="randomSource.length">{{songs.length | numSongs}}</span>
			</small>
			<span class="label label-default label-clear" ng-click="clearAll()">Clear</span>
		</span>
	</h2>
</div>
<table class="table table-condensed">
	<tr ng-repeat="song in songs">
		<td>
			<div class="media">
				<a class="media-left" href="#">
					<img src="/{{song.albumId}}.50px.jpg" class="img-rounded img-album-up-next">
				</a>
				<div class="media-body media-body-up-next">
					<div class="media-desc-up-next">
						<span class="song-desc-up-next">{{song.title | normalizeString}}</span>
						<span class="glyphicon glyphicon-remove-circle pull-right" ng-click="removeSong(song)"></span>
					</div>
					<div class="media-desc-up-next">
						<span class="song-desc-up-next"><artist-array array="song.artists"></artist-array></span>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
