body {
	font-family: 나눔고딕, sans-serif;
}

.initial {
	padding: 15px;
}

.btn-initial {
	padding: 0px;
	border: 7px solid;
	border-radius: 20px;
}

.h1-initial {
	padding: 10px;
	margin: 10px;
}

.h1-shuffle {
	padding: 10px;
	margin: 10px;
	margin-bottom: 7px;
}

.img-album {
	width: 300px;
}

.img-album-up-next {
	width: 50px;
}

.td-img {
	width: 330px;
}

.song-desc {
	height: 20px;
}

.song-desc-track {
	display: inline-block;
	text-align: right;
	width: 20px;
	margin-right: 10px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.song-desc-title {
	display: inline-block;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}

.song-desc-right {
	height: 20px;
	font-size: 18px;
}

.song-desc-time {
	font-size: 12px;
	margin-right: 5px;
	position: relative;
	top: -4px;
}

.media-body-up-next {
	width: 190px;
}

.media-desc-up-next {
	height: 20px;
	font-size: 18px;
}

.song-desc-up-next {
	display: inline-block;
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.progress-music {
	display: inline-block;
	width: 300px;
	height: 10px;
	margin-bottom: 0px;
}

.progress-bar-music {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.label-clear {
	font-size: 14px;
}

.btn-edit {
	font-size: 14px;
}
