body {
	font-family: 'Noto Sans', 'Noto Sans CJK KR', 'Noto Sans JP',	나눔고딕, AppleSDGothicNeo-Regular, sans-serif;
}

.initial {
	padding: 0px;
}

a.initial {
	padding: 10px;
	background-color: #f9f9f9;
	border: 3px solid #fff;
}

h1.initial {
	margin: 0px;
}

h1.shuffle {
	margin: 0px;
	margin-top: 2px;
	margin-bottom: -7px;
}

.recent-artists {
	max-width: 100px;
	height: 20px;
}

.recent-artist-list {
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media only screen and (min-width: 768px) {
	a.initial {
		padding: 25px;
	}

	img.artist-album-image {
		margin-top: 20px;
	}

	.recent-artists {
		max-width: 200px;
		height: 20px;
	}

	.recent-artist-list {
		display: inline-block;
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.h2-upnext {
	margin-top: 0px;
}

.img-album {
	width: 300px;
}

.img-album-up-next {
	width: 40px;
}

.img-album-up-list {
	width: 30px;
}

.td-img-list {
	padding: 3px !important;
}

.song-desc {
	height: 20px;
}

.song-track {
	display: inline-block;
	text-align: right;
	width: 27px;
	margin-right: 10px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.song-desc-title {
	font-size: 16px;
}

.song-desc-right {
	height: 20px;
	font-size: 18px;
}

.album-desc-right {
	height: 20px;
	font-size: 18px;
}

.album-desc-right small {
	color: #fff;
	font-weight: 700;
}

.progress-music {
	display: inline-block;
	width: 300px;
	height: 10px;
	margin-bottom: 0px;
}

.progress-bar-music {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.label-clear {
	font-size: 14px;
}

.btn-edit {
	font-size: 14px;
}

.btn-song-dropdown {
	padding-top: 0px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 4px;
	position: relative;
	top: -5px;
}

.dropdown-song {
	min-width: 0px;
}

.badge-plays {
	position: relative;
	top: -4px;
	margin-left: 5px;
}

.label-as-badge {
	border-radius: 1em;
}

.span-rank {
	height: 20px;
	font-size: 18px;
}

.badge-rank {
	position: relative;
	top: -4px;
}

.media-ones {
	margin-top: 0px;
}

.media-body-ones {
	width: 125px;
}

.media-desc-ones {
	height: 20px;
}

.song-desc-up-ones {
	display: inline-block;
	width: 125px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.ones-week {
	width: 40px;
}

.up-next-artists {
	width: 140px;
	height: 20px;
}

.up-next-artist-list {
	display: inline-block;
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

.glyphicon-up-next {
	top: 3px;
}

.bar {
	fill: steelblue;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.y.axis path {
	display: none;
}

.y.axis line {
	stroke: #ffffff;
}

.now-playing-badge {
	height: 20px;
	font-size: 18px;
	position: relative;
	top: 2px;
}

.table-tooltip {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
