body {
	font-family: 나눔고딕, sans-serif;
}

.initial {
	padding: 15px;
}

.btn-initial {
	padding: 0px;
	border: 7px solid;
	border-radius: 20px;
}

.h1-initial {
	padding: 10px;
	margin: 10px;
}

.img-album {
	width: 300px;
}

.img-album-up-next {
	width: 50px;
}

.td-img {
	width: 330px;
}

.song-desc {
	width: 480px;
	height: 20px;
}

.song-desc-track {
	display: inline-block;
	text-align: right;
	width: 20px;
	margin-right: 10px;
	font-size: 12px;
	position: relative;
	top: -2px;
}

.song-desc-title {
	display: inline-block;
	width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
}

.song-desc-right {
	height: 20px;
	font-size: 18px;
}

.song-desc-time {
	font-size: 12px;
	margin-right: 5px;
	position: relative;
	top: -4px;
}

.media-body-up-next {
	width: 190px;
}

.media-desc-up-next {
	height: 20px;
	font-size: 18px;
}

.song-desc-up-next {
	display: inline-block;
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}

#timeline{
	width: 400px;
	height: 20px;
	background: #4200f7;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 255, 196, 0.82);
}
