<!DOCTYPE html>
<html ng-app="musicApp">

<head>
	<title>Chart Watch</title>

	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">

	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/musicApp.js"></script>
	<script type="text/javascript" src="/js/musicFactory.js"></script>
	<script type="text/javascript" src="/js/musicCtrl.js"></script>
</head>

<body>
  <h1>Test</h1>
	<div class="container">
		<ng-view></ng-view>
	</div>
	<form action="/upload" enctype="multipart/form-data" method="post">
		<input type="file" name="file" multiple="multiple">
		<input type="submit" value="Upload">
	</form>
	<a href='/upload'>See list</a>
</body>

</html>
