<!DOCTYPE html>
<html ng-app="musicApp">

<head>
	<title>Chart Watch</title>

	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/musicApp.js"></script>
	<script type="text/javascript" src="/js/musicFactory.js"></script>
	<script type="text/javascript" src="/js/musicCtrl.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/filter.js"></script>
</head>

<body>
	<h1><a href="#/">Test</a></h1>
	<p>
	<a href="#/music">songs</a>
	</p>
	<p>
	<a href="#/artist">artists</a>
	</p>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-lg-2">
			</div>
			<div class="col-md-10 col-lg-10">
				<ng-view></ng-view>
			</div>
	</div>
	<form action="/upload" enctype="multipart/form-data" method="post">
		<input type="file" name="file" multiple="multiple">
		<input type="submit" value="Upload">
	</form>
	<a href='/upload'>See list</a>
</body>

</html>
