<!DOCTYPE html>
<html ng-app="musicApp">

<head>
	<title>Chart Watch</title>

	<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/js/musicApp.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/directive.js"></script>
	<script type="text/javascript" src="/js/factory.js"></script>
	<script type="text/javascript" src="/js/filter.js"></script>
</head>

<body>
	<div class="container" ng-controller="PlayerController">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="jumbotron">
					<h1>Chart Watch</h1>
					<p>Free at last from iTunes</p>
					<form action="/upload" enctype="multipart/form-data" method="post">
						<input type="file" name="file" multiple="multiple">
						<input type="submit" value="Upload">
					</form>
					<player></player>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<up-next></up-next>
			</div>
			<div class="col-md-9 col-lg-9">
				<ng-view></ng-view>
			</div>
	</div>
</body>

</html>
