body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: linear-gradient(165deg, #1a2a6c, #b21f1f, #fd8b2d, #b21f1f, #1a2a6c);
	background-size: 100vw 200vh;
	color: white;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-adaptive {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-1 {
	-webkit-flex: 1;
	flex: 1;
}

.flex-2 {
	-webkit-flex: 2;
	flex: 2;
}

.flex-3 {
	-webkit-flex: 3;
	flex: 3;
}

a {
	color: white;
	text-decoration: none;
}

.show-mobile {
	display: none;
}

.show-mobile-flex {
	display: none;
}

.router-outer {
	position: relative;
}

.router-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.logo, .top {
	font-size: 1.5em;
}

.gray {
	color: gray;
}

@media screen and (max-width: 543px) {
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: inline;
	}

	.show-mobile-flex {
		display: flex;
	}
	
	.flex-adaptive {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}
